services:
  db:
    image: postgres
    restart: always
    volumes:
      - data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_HOST_AUTH_METHOD: ${PG_HOST_AUTH_METHOD}
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

volumes:
  data:
